name: Lint

on:
  push:
    paths:
      - '**/*.py'
      - '.github/workflows/lint.yml'
  pull_request:
    paths:
      - '**/*.py'
      - '.github/workflows/lint.yml'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: pip install ruff
      - name: Run ruff
        run: |
          ruff format --check app
          ruff check app
